<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">


    <servlet>
        <servlet-name>LoanPage</servlet-name>
        <servlet-class>ru.job4j.loanapp.LoanPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoanPage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Application</servlet-name>
        <servlet-class>ru.job4j.loanapp.ApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Application</servlet-name>
        <url-pattern>/application</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TableServlet</servlet-name>
        <servlet-class>ru.job4j.loanapp.TableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TableServlet</servlet-name>
        <url-pattern>/table</url-pattern>
    </servlet-mapping>

</web-app>